/* General styles */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #EDEFEE; /* Adjust as needed */
  }
  
  /* Navbar styles */
  .navbar {
    background-color: #D08856; /* Adjust as needed */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #41403c; /* Adjust text color */
  }
  
  .logo {
    font-size: 2rem;
    color: #41403c; /* Adjust logo color */
  }
  
  .nav-links {
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #41403c; /* Adjust link color */
    font-size: 18px; /* Adjust font size */
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  /* Main content styles */
  .main-content {
    padding: 20px;
  }
  